:root {
  --dark-blue: rgba(3, 4, 94, 1);
  --dark-brown: rgba(71, 67, 6, 1);
  --light-yellow: rgba(251, 248, 204, 1);
  --too-light-yellow: rgba(247, 241, 151, 1);
  --yellow: rgba(245, 238, 132, 1);
}
